<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.seig.smartcode.web.admin.mapper.LessonMapper">

    <resultMap id="getPageLesson" type="cn.edu.seig.smartcode.web.admin.vo.page.PageLessonVo">
        <id property="id" column="id"/>
        <collection property="faceUrl" select="getGroupList" column="id" ofType="cn.edu.seig.smartcode.model.entity.GraphInfo"
                    autoMapping="true">
            <id column="id" property="id"/>
        </collection>
    </resultMap>

    <select id="page" resultMap="getPageLesson">
        select l.id,
        l.`name` ,
        l.url,
        desciption,
        total_duration,
        collect_num,
        like_num,
        resource_id,
        l.upload_admin_id,
        technology_stack_id,
        `orders`,
        l.create_time,
        l.update_time,
        l.is_deleted,
        r.url resourceUrl
        from lesson l
        left join resource r on l.resource_id = r.id and r.is_deleted = 0
        where l.is_deleted = 0 and technology_stack_id = #{queryVo.stackId}
        <if test="queryVo.name != null and queryVo.name != ''">
            and l.`name` like concat('%',#{queryVo.name},'%')
        </if>
        <if test="queryVo.beginTime != null">
            and l.create_time &gt; #{queryVo.beginTime}
        </if>
        <if test="queryVo.endTime != null">
            and l.create_time &lt; #{queryVo.endTime}
        </if>
    </select>

    <select id="getGroupList" resultType="cn.edu.seig.smartcode.model.entity.GraphInfo">
        select id,
               `name`,
               item_type,
               item_id,
               url
        from graph_info
        where is_deleted = 0 and item_type = 1
        and item_id = #{id}
    </select>

    <select id="getNotListedLessonCount" resultType="java.lang.Long">
        select count(*)
            from lesson where is_deleted = 1
    </select>
</mapper>
